.features__title {
  font-family: "gothamprobold";
  font-size: 49px;
  font-weight: 700;
  color: #262424;
  margin-bottom: 63px;
  line-height: .7;
}

.features__item {
  display: inline-block;
  width: 28%;
  font-size: 0;
  margin-right: 17px;
  text-align: center;
  vertical-align: top;
}

.features__item:last-child {
  margin-right: 0;
}

.features__img {
  display: inline-block;
  position: relative;
  text-align: center;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 72px;
  height: 72px;
  background-color: #2b2b40;
  margin-bottom: 31px;
}

.features__pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features-description__feature {
  font-family: "gothamprobold";
  font-size: 10.8px;
  font-weight: 700;
  color: #262626;
  letter-spacing: 0.24em;
  margin-bottom: 18px;
}

.features-description__text {
  font-family: "gothampro";
  font-size: 18px;
  font-weight: 400;
  color: #262424;
  margin-bottom: 4px;
  line-height: 30px;
  padding-left: 16px;
  width: 86%;
}

.features-description__item {
  font-family: "gothampro";
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
  color: #262424;
  text-align: left;
  list-style: disc;
  color: #b03664;
  margin-left: 45px;
}