@font-face {
  font-family: "gothampro";
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "gothamprobold";
  src: url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "gothamprolight";
  src: url("../fonts/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "gothamprolightitalic";
  src: url("../fonts/GothamProLightItalic.woff") format("woff"), url("../fonts/GothamProLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "opensansbold";
  src: url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.woff2") format("woff2");
  font-weight: 700;
  font-weight: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.woff2") format("woff2");
  font-weight: 700;
  font-weight: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.woff2") format("woff2");
  font-weight: 700;
  font-weight: normal;
}