.footer__container {
  position: relative;
  background-color: #2b2b40;
  font-size: 0;
  min-height: 77px;
}

.footer__about {
  position: absolute;
  display: block;
  font-family: 'gothampro';
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  max-width: 22%;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-about__text {
  display: inline-block;
  font-weight: 300;
}

.footer-about__author {
  display: inline-block;
}

.footer-about__loftschool {
  font-weight: 700;
  text-decoration: underline;
  color: #ffffff;
}

.footer__logo {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer__socials {
  position: absolute;
  right: 14px;
  min-width: 16%;
  top: 50%;
  transform: translateY(-50%);
}