.header__container {
  background-color: #2b2b40;
  position: relative;
  min-height: 76px;
  text-align: right;
}

.header__logo {
  display: block;
  position: absolute;
  top: 12.5px;
  left: 19px;
}

.header__contacts {
  display: block;
  position: absolute;
  right: 21px;
  top: 18px;
}

.header-contacts__link {
  display: block;
  font-family: "gothamprobold";
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}

.schedule {
  display: inline-block;
  position: relative;
}

.schedule:before {
  display: block;
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: -25px;
  right: 0;
  content: "";
}

.schedule-popup:before {
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  top: -8px;
  border-radius: 2px;
  right: 4px;
  content: "";
  background: #fff;
  transform: rotate(-45deg);
}

.schedule__title {
  opacity: 0.7;
  font-family: "opensansbold";
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  color: #cb2376;
}


.schedule-popup {
  display: none;
  min-width: 145px;
  position: absolute;
  right: -9999px;
  top: calc(100% + 23px);
  padding: 14px 5px 17px 14px;
  background: #fff;
  text-align: left;
  border-radius: 3px;
}

.schedule:hover .schedule__title{
  color: #8ad0f6;
}

.schedule:hover .schedule-popup {
  display: block;
  right: 0;
}

.schedule-popup__workdays {
  display: block;
  font-family: "gothamprobold";
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  color: #cb2376;
  margin-bottom: 7px;
}

.schedule-popup__lunchbreak {
  display: block;
  font-size: 14px;
  font-family: "gothamprolight";
  font-weight: 300;
  font-style: normal;
  color: #262424;
}