@import url(./features.css);
@import url(./news.css);

.main__container {
  font-size: 0;
  margin-bottom: 73px;
  padding-top: 70px;
}

.sidebar {
  display: inline-block;
  width: 18%;
  vertical-align: top;
}

.main-content {
  display: inline-block;
  width: 82%;
  vertical-align: top;
}

.main-content__features {
  margin-bottom: 72px;
}