@import url(./normalize.css);
@import url(./fonts.css);
@import url(./base.css);
@import url(./header.css);
@import url(./banner.css);
@import url(./sidebar.css);
@import url(main-content.css);
@import url(./footer.css);
@import url(./socials.css);