.news__title {
  margin-bottom: 82px;
}

.news__list {
  padding-bottom: 16px;
}

.news__img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  width: 160px;
  height: 160px;
}

.news__pic {
  width: 100%;
  height: auto;
}

.news__item {
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 20px;
  margin-bottom: 29px;
}

.news__item:last-child {
  border-bottom: 0px;
}
