.post {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}

.post__date {
  font-family: 'robotolight';
  font-size: 14px;
  font-weight: 300;
  color: #656464;
  margin-bottom: 5px;
}

.post__title {
  font-family: 'robotobold';
  font-size: 18px;
  font-weight: 700;
  color: #262424;
  margin-bottom: 10px;
}

.post__text {
  font-family: 'robotolight';
  font-size: 18px;
  line-height: 30px;
  color: #262424;
}

.feedback__item .post .post__text {
  letter-spacing: 1.2px;
}