.sidebar__list {
  margin: 0 0 0 19px;
}

.sidebar-item {
  margin-bottom: 36px;
}

.sidebar-item:last-child {
  margin-bottom: 0;
}

.sidebar-item--active .sidebar-item__text {
  color: #000;
  text-decoration: underline #d3d3d3;
}

.sidebar-item__link:hover .sidebar-item__text {
  color: #000;
}

.sidebar-item__link {
  display: inline-block;
  position: relative;
}

.sidebar-item__link:active .sidebar-item__text {
  text-decoration: underline #d3d3d3;
}

.sidebar-item__text {
  display: inline-block;
  font-family: "gothamprobold";
  font-size: 12px;
  font-weight: 700;
  color: #cb2376;
  text-transform: uppercase;
  padding-left: 37px;
  letter-spacing: .1em;
}

.sidebar-item__main .sidebar-item__link:before {
  content: "";
  background: url(../images/main_icon.png) no-repeat;
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-item__comments .sidebar-item__link:before {
  content: "";
  background: url(../images/feed_icon.png) no-repeat;
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-item__taxes .sidebar-item__link:before {
  content: "";
  background: url(../images/wallet_icon.png) no-repeat;
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-item__main .sidebar-item__link:after {
  content: "";
  background: url(../images/main_icon_active.png) no-repeat;
  min-width: 20px;
  min-height: 18px;
  position: absolute;
  left: 0;
  display: none;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-item__comments .sidebar-item__link:after {
  content: "";
  background: url(../images/feed_icon_active.png) no-repeat;
  min-width: 20px;
  min-height: 18px;
  position: absolute;
  left: 0;
  display: none;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-item__taxes .sidebar-item__link:after {
  content: "";
  background: url(../images/wallet_icon_active.png) no-repeat;
  min-width: 20px;
  min-height: 18px;
  position: absolute;
  left: 0;
  display: none;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-item--active.sidebar-item__main .sidebar-item__link:after {
  display: inline-block;
}
.sidebar-item--active.sidebar-item__comments .sidebar-item__link:after {
  display: inline-block;
}
.sidebar-item--active.sidebar-item__taxes .sidebar-item__link:after  {
  display: inline-block;
}
.sidebar-item__main .sidebar-item__link:hover:after {
  display: inline-block;
}
.sidebar-item__comments .sidebar-item__link:hover:after {
  display: inline-block;
}
.sidebar-item__taxes .sidebar-item__link:hover:after {
  display: inline-block;
}
.sidebar-item--active.sidebar-item__main .sidebar-item__link:before {
  display: none;
}
.sidebar-item--active.sidebar-item__comments .sidebar-item__link:before {
  display: none;
}
.sidebar-item--active.sidebar-item__taxes .sidebar-item__link:before  {
  display: none;
}
.sidebar-item__main .sidebar-item__link:hover:before {
  display: none;
}
.sidebar-item__comments .sidebar-item__link:hover:before {
  display: none;
}
.sidebar-item__taxes .sidebar-item__link:hover:before {
  display: none;
}
