.sidebar__list {
  padding: 0 0 0 20px;
}

.sidebar-item {
  margin-bottom: 29px;
}

.sidebar-item:last-child {
  margin-bottom: 0;
}

.sidebar-item--active .sidebar-item__text {
  color: #000;
  text-decoration: underline #d3d3d3;
}

.sidebar-item__link:hover .sidebar-item__text {
  color: #000;
}

.sidebar-item__link {
  display: inline-block;
  height: 20px;
}

.sidebar-item__link:active .sidebar-item__text {
  text-decoration: underline #d3d3d3;
}

.sidebar-item__text {
  display: inline-block;
  font-family: "gothamprobold";
  font-size: 12px;
  font-weight: 700;
  color: #cb2376;
  text-transform: uppercase;
  vertical-align: middle;
}

/* .sidebar-item__icon {
  display: inline-block;
  min-width: 20px;
  max-height: 18px;
  margin-right: 17px;
  vertical-align: middle;
} */

.sidebar-item__main .sidebar-item__link:before {
  content: "";
  background: url(../images/main_icon.png) no-repeat;
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
  margin-right: 17px;
  vertical-align: middle;
}
.sidebar-item__comments .sidebar-item__link:before {
  content: "";
  background: url(../images/feed_icon.png) no-repeat;
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
  margin-right: 17px;
  vertical-align: middle;
}
.sidebar-item__taxes .sidebar-item__link:before {
  content: "";
  background: url(../images/wallet_icon.png) no-repeat;
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
  margin-right: 17px;
  vertical-align: middle;
}

.sidebar-item--active.sidebar-item__main .sidebar-item__link:before {
  background: url(../images/main_icon_active.png) no-repeat;
}
.sidebar-item--active.sidebar-item__comments .sidebar-item__link:before {
  background: url(../images/feed_icon_active.png) no-repeat;
}
.sidebar-item--active.sidebar-item__taxes .sidebar-item__link:before  {
  background: url(../images/wallet_icon_active.png) no-repeat;
}
.sidebar-item__main .sidebar-item__link:hover:before {
  background: url(../images/main_icon_active.png) no-repeat;
}
.sidebar-item__comments .sidebar-item__link:hover:before {
  background: url(../images/feed_icon_active.png) no-repeat;
}
.sidebar-item__taxes .sidebar-item__link:hover:before {
  background: url(../images/wallet_icon_active.png) no-repeat;
}
